{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="hero-image container-fluid">
  <div class="row h-100 justify-content-end">
    <div class="col-7 col-md-6 my-auto text-right">
      <h2 class="display-4 logo-font text-black font-weight-bold">
        Your Local Tennis Club
      </h2>
      <div class="my-5">
        <h4>
          <a href="" class="register-now-button btn btn-lg rounded-0 text-uppercase py-3 font-weight-bold">Register Now</a>
        </h4>
      </div>
    </div>
  </div>
</div>
</div> 

<div class="container my-5" id="about-our-community">
  <div class="row justify-content-end">
    <div class="col">
      <h2>About Our Community</h2>
      <br>
      <p>
        Welcome to The Tennis Open, a tennis club that Opens your game and your mind.
        <br>
        <br>
        Our community of dedicated players shares a passion for tennis and a commitment to improvement. With expert
        coaches, state-of-the-art facilities, and comprehensive training programs, achieving your goals is easy and
        enjoyable. 
        <br>
        <br>
        Join our vibrant community of tennis enthusiasts and connect with other players, improve your game,
        and participate in regular tournaments and social events.
        <br>
        <br>
        Take your tennis game to the next level. Sign up for our club today and reap the benefits of the Open community.
      </p>
      <br>
      <br>

      <h2>Hear it from our members...</h2>
      <br>
      <h5>"I can't imagine my life without Tennis Open! This website has connected me with so many amazing tennis 
          players in my area. I've made some great friends and my game has improved so much.
          Thank you, Tennis Open!" - <strong>Lily L</strong></h5>
      <br>
      <h5>"Tennis Open is the best thing that's happened to me since I started playing tennis. Being part of this 
        community has allowed me to meet other players, join local tournaments, and even find a new doubles partner. 
        I highly recommend Tennis Open!" - <strong>Milo D.</strong></h5>
      <br>
      <h5>"I'm so glad I found Tennis Open. As someone who loves playing tennis, it's great to have a platform where 
        I can connect with others who share my passion. I've even found a mentor who has helped me improve my game! 
        It's the only place to be!" - <strong>Felix P.</strong></h5>
      <br>
    </div>
    <div class="col">
      <img src="/media/tennis-girl.jpg" alt="tennis-girl" class="tennis-girl">
    </div>
  </div>
</div>

<footer>

</footer>
{% endblock %}
