html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

.hero-image {
    background: url(/media/two-tennis-players.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    margin-top: 40px;
    top: 0;
    left: 0;
    z-index: -1;
}

h2 {
    color: #555;
    font-weight: bold;
}

.tennis-girl {
    width: 100%;
    height: 90%;
}

.names {
    color: #15cfbc;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
}

h1 {
    display: inline-block;
}

.main-logo-font,
.main-nav-link {
    text-transform: uppercase;
    font-weight: bold;
}

.main-nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #15cfbc;
    text-decoration-thickness: 3px;
}

.register-now-button:hover {
    border: 2px solid #15cfbc;
    background: black;
    color: #15cfbc;
    text-decoration: none;
}

.open-text {
    color: #15cfbc;
}

.main-logo-link {
    width: fit-content;
}

i {
    color: #15cfbc;
}

.register-now-button {
    font-size: larger;
    border: 1px solid black;
    background: #15cfbc;
    color: black;
    text-decoration: none;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.edit-comment {
    background: #4dd0e1;
}

.delete-comment {
    background: #FFB6C1;
}

.btn-black,
.submit-btn {
    background: #15cfbc;
    color: black;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.edit-comment:hover,
.edit-comment:active,
.edit-comment:focus {
    background: black;
    color: #4dd0e1 !important;
}

.delete-comment:hover,
.delete-comment:active,
.delete-comment:focus {
    background: black;
    color: #FFB6C1 !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: #15cfbc !important;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: #15cfbc !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: black;
    color: #15cfbc;
}

.remove-item {
    cursor: pointer;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background: white;
    z-index: -1000000;
    margin-top: 160px;
    overflow-y: scroll;
}

.p.mb-0 {
    color: red;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.package-name {
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
}

.packages-border {
    border: solid 2px #15cfbc;
}


/* Contact Us Form */

.contact-us-container {
    border: solid 2px #15cfbc;
}

/* Footer */

footer {
    height: 3%;
    position: relative;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    font-size: 200%;
    padding: 2%;
    color: #15cfbc;
}

.social-links i:hover {
    transform: scale(1.5);
}

/* -------------------------------- Media Queries */

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}