html {
    height: 100%;
}

body {
    background: url(/media/two-tennis-players.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh; 
    color: #555;
    font-family: 'Montserrat', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
}

h1 {
    display: inline-block;
}

.main-logo-font,
.logo-font {
    text-transform: uppercase;
    font-weight: bold;
}

.logo-font:hover {
    border: 1px solid black;
    background: #15cfbc;
    color: black;
}

.open-text {
    color: #15cfbc;
}

.main-logo-link {
    width: fit-content;
}

i {
    color: #15cfbc;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: #15cfbc;
    color: black;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.remove-item {
    cursor: pointer;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 300%;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background: white;
    z-index: -100;
    margin-top: 160px;
    overflow: hidden;
}

.p.mb-0 {
    color: red;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* -------------------------------- Media Queries */

/* REVIEW BELOW, MAY NEED ADJUSTING/DELETING */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}