<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font main-nav-link text-black p-2 mr-5" href="{% url 'home' %}#about-our-community" id="about-our-community-link" aria-haspopup="true" aria-expanded="false">
                About Our Community
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font main-nav-link text-black p-2 mr-5" href="{% url 'comments' %}" id="the-open-wall-link" aria-haspopup="true" aria-expanded="false">
                The Open Wall
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font main-nav-link text-black p-2 mr-5" href="{% url 'packages' %}" id="tennis-fitness-packages-link" aria-haspopup="true" aria-expanded="false">
                Tennis & Fitness Lessons
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font main-nav-link text-black p-2 mr-5" href="{% url 'contact' %}" id="contact-us-link" aria-haspopup="true" aria-expanded="false">
                Contact Us
            </a>
        </li>
    </ul>
</div>