<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-our-community-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Our Community
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="the-open-wall-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                The Open Wall
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tennis-lessons-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tennis Lessons
            </a>
        </li>
    </ul>
</div>